.header__lang-link {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  line-height: 1.2;
  font-weight: normal;
  /*border-bottom: 1.3px solid #fff; нижнее подчёркивание ссылки */
}

.header__lang-link:hover {
  border: none;
}

@media screen and (max-width: 320px) {
  .header__lang-link {
  font-size: 18px;
  line-height: 1.4;
  }
}
