.footer__link_padding {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  padding-right: 18px;
}

.footer__link_padding:last-child {
  padding-right: 0;
}

@media screen and (max-width: 768px) {
  .footer__link_padding {
    line-height: 0px;
  }

@media screen and (max-width: 320px) {
  .footer__link_padding {
    padding: 0 0 32px;
    font-size: 24px;
    line-height: 24px;
  }

  .footer__link_padding:last-child {
    padding-bottom: 48px;
  }
}
