.place__paragraph {
  width: 484px;
  margin: 0;
  padding-bottom: 24px;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
}

.place__paragraph:last-of-type {
  padding-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    width: 456px;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    width: 352px;
    font-size: 16px;
    line-height: 27px;
    padding-bottom: 24px;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    width: 90vw;
    justify-self: center;
    font-size: 16px;
    line-height: 27px;
  }
}
