.intro__text {
  width: 690px;
  margin: 0;
  padding-bottom: 32px;
  font-size: 16px;
  line-height: 1.6;
  font-weight: normal;
}

@media screen and (max-width: 768px) {
  .intro__text {
    width: 93.75vw;
  }
}

@media screen and (max-width: 320px) {
  .intro__text {
    width: 100%;
    line-height: 1.6;
  }
}
