.place__link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.1;
  font-weight: normal;
  border-bottom: 1.3px #fff solid;
}

.place__link:hover {
  border: none;
}

@media screen and (max-width: 460px) {
  .place__link {
    font-size: 14px;
  }
}
