.cover__title {
  max-width: 48%;
  text-align: center;
  margin: 0;
  padding-bottom: 32px;
  position: relative;
  z-index: 2;
  font-size: 72px;
  line-height: 1;
  font-weight: 900;
}

@media screen and (max-width: 1024px) {
  .cover__title {
    max-width: 56%;
  }
}

@media screen and (max-width: 802px) {
  .cover__title {
    max-width: 71%;
  }
}

@media screen and (max-width: 598px) {
  .cover__title {
    max-width: 79%;
    font-size: 56px;
  }
}

@media screen and (max-width: 496px) {
  .cover__title {
    max-width: 64%;
    font-size: 40px;
  }
}


@media screen and (max-width: 368px) {
  .cover__title {
    max-width: 79vw;
    font-size: 32px;
    padding-bottom: 16px;
  }
}
