.footer {
  display: flex;
  align-self: center;
  justify-content: space-between;
  padding: 92px 0 24px;
}

@media screen and (max-width: 1280px) {
  .footer {
    width: 92.5vw;
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    width: 90.625vw;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    width: 93.75vw;
    padding-top: 88px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    flex-direction: column;
    padding-top: 64px;
  }
}
