.footer__list-item {
  font-size: 16px;
  line-height: 0.5;
  font-weight: normal;
  padding-right: 18px;
}

.footer__list-item:last-child {
  padding-right: 0;
}

@media screen and (max-width: 1024px) {
  .footer__list-item {
    line-height: 0;
  }
}

@media screen and (max-width: 768px) {
  .footer__list-item {
    line-height: 2;
  }
}

@media screen and (max-width: 650px) {
  .footer__list-item {
    padding-bottom: 10px;
  }

  .footer__list-item:last-child {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 320px) {
  .footer__list-item {
    padding-bottom: 32px;
    font-size: 24px;
    line-height: 1;
  }

  .footer__list-item:last-child {
    padding-bottom: 48px;
  }
}
