.intro__title {
  margin: 0;
  padding-bottom: 40px;
  font-size: 54px;
  line-height: 1.2;
  font-weight: 900;
}

@media screen and (max-width: 320px) {
  .intro__title {
    width: 75vw;
    font-size: 32px;
  }
}
